body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .centered {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  /* Unified styling for all centered elements */
  .centered1, .centered2, .centered3, .centered4 {
    background-repeat: no-repeat;
    background-position: center top;
    width: 80%;
    margin: 0; /* Eliminates any vertical spacing between elements */
    padding: 0;
  }
  
  .centered1 {
    background-image: url('images/pixel.png');
    height: 400px;
    background-position: center;
  }
  
  .centered2 {
    background-image: url('images/face.png');
    height: 500px;
    background-color: rgb(63, 63, 63);
    background-position: center;
  }
  
  .centered3 {
    background-image: url('images/animation/lot.png');
    height: 400px;
    background-position: center;
  }
  
  .centered4 {
    background-image: url('images/animation/final.gif');
    height: 200px;
  }
  